/* RESET BROWSER STYLE */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.3;
}

ol { 
	padding-left: 0;
	list-style: none
}

ul {
	padding-left: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} 

a {
    text-decoration: none;
}

/* GENERAL STYLES */
html {
    position: relative;
}

html, body {
    font-size: 25px;
}
@media (min-width: 1920px) {
    html, body {
        font-size: 30px;
    }
}
@media (max-width: 350px) {
    html, body {
        font-size: 17px;
    }
}

* {
    box-sizing: border-box;
    font-family: "Mukta", Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --white: #ffffff;
    --black: #303030;
    --hardBlue: rgb(22, 34, 105);
    --hardGray: #676767;
    --linksHoverColor: rgb(27, 43, 134);
    --footerBackground: #303030;
    /* MEASURES */
    --pageWidth: 1200px;
}

.container {
    font-size: 0.85rem;
}

.container-medium {
    font-size: 0.75rem;
}

.container-short {
    font-size: 0.70rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--black);
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

p, span, label, a, select {
    font-family: "Mukta", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: var(--hardGray);
}

.app {
    position: relative;
}

/* HEADER */
.header {
    height: 70px;
    width: 100%;
    background: var(--hardBlue);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 calc((100% - var(--pageWidth))/2);;
    z-index: 1000;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav li {
    display: inline-block;
    width: 25%;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}

.nav li:hover {
    background-color: var(--linksHoverColor);
    margin-top: -1px;
}

.nav li:hover .nav-link {
    color: var(--white);
}

.nav-link {
    color: var(--white);
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* - MAIN - */
.main-container {
    padding: calc(70px + 20px) calc((100vw - var(--pageWidth)) / 2) 20px;
    width: 100%;
   /* margin: 0 auto; */
}

.section-header {
    margin-bottom: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 25px calc((100vw - var(--pageWidth)) / 2);
    background-image: url(../img/layout/Banners/us-banner.jpg);
    background-size: 100% auto;
}

.section-header h1 {
    color: var(--white);
}

/* Us */
.us-container {
    margin-top: calc(2em + 25px + 25px + 35px); /* h1Size + paddingTop + paddingTop + marginBottom */
}

.us-container h3 {
    color: var(--hardBlue);
}

.us-subsection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: justify;
}

.us-subsection:not(:last-child) {
    margin-bottom: 30px;
}

.us-subsection .us-description {
    width: 60%;
}

.us-subsection .us-img {
    width: 35%;
}

.us-img img {
    width: 100%;
    height: auto;
}

.us-subsection:nth-child(odd) {
    flex-direction: row-reverse;
}

.values-container {
    width: 100%;
}

.two-items-column {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.two-items-column li {
    width: calc(50% - 12px);
}

/* FOOTER */
.footer {
    width: 100%;
    padding: 0 calc((100% - var(--pageWidth))/2);
    height: 250px;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--footerBackground);
}

.footer * {
    color: var(--white);
}